<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>

    <rewrite>
      <rules>

        <rule name="RedirectToSignin" stopProcessing="true">
          <match url="^login$" ignoreCase="true" />
          <action type="Redirect" url="signin" redirectType="Permanent" />
        </rule>

        <rule name="RedirectToSignup" stopProcessing="true">
          <match url="^register$" ignoreCase="true" />
          <action type="Redirect" url="signup" redirectType="Permanent" />
        </rule>

         <rule name="AngularJS" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/index.html"/>
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>