<i class="sl-close modal-close" state-control-type="close"></i>
<section class="modal-scroll modal-padding">
    <div class="create-new-control block">
        <article class="add-control-step">
            <i class="sl-sl-create-pen enrolment-icon"></i>
            <h3>Choose how to create rule</h3>
            <div class="create-new-control block">
                <div class="table-columns">
                    <div class="col-02 alert-msg" ng-click="vm.goToAddRule()">
                        <h3>Use rules wizard</h3>
                        <small><b>Rules wizard</b> helps you create rule trough steps.</small>
                    </div>
                    <div class="col-02 alert-msg" ng-click="vm.goToAddRuleJson()">
                        <h3>Use JSON rule creator</h3>
                        <small><b>JSON rule creator</b> helps you create advanced rules using JSON scheme.</small>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>



