<form ng-submit="vm.createMobileDevice(deviceName)">
    <div class="create-new-control block tl">
        <h3>Connect your smartphone as <b>Quick demo device.</b></h3>

        <p>After creation, device will appear in this ground.</p>

        <div class="single-input-control">
            <input class="teams-header-input" type="text" ng-model="deviceName"
                   placeholder="Enter device name" tabindex="0" autofocus/>
            <button angular-ripple id="submit-name"
                    ng-class="{ 'disabled-btn': deviceName == null || deviceName == '' }" type="submit"><i
                    class="sl-arrow_forward"></i></button>
        </div>
        <div class="balloon" ng-show="deviceError">
            <span ng-bind="deviceError"></span>
        </div>
    </div>
</form>